[submodule "colorChanger"]
	path = colorChanger
	url = https://github.com/ikhlosi/colorChanger.git
[submodule "gettingStarted"]
	path = gettingStarted
	url = https://github.com/ikhlosi/gettingStarted.git
[submodule "Les03_BasicComponents"]
	path = Les03_BasicComponents
	url = https://github.com/ikhlosi/Les03_BasicComponents.git
[submodule "Les04_Alignment"]
	path = Les04_Alignment
	url = https://github.com/ikhlosi/Les04_Alignment.git
[submodule "Les04_TodoApp_WS"]
	path = Les04_TodoApp_WS
	url = https://github.com/ikhlosi/Les04_TodoApp_WS.git
[submodule "myAppA"]
	path = myAppA
	url = https://github.com/ikhlosi/myAppA.git
[submodule "TeamScore"]
	path = TeamScore
	url = https://github.com/ikhlosi/TeamScore.git
[submodule "reviewApp"]
	path = reviewApp
	url = https://github.com/ikhlosi/reviewApp.git
[submodule "meetupsApp"]
	path = meetupsApp
	url = https://github.com/ikhlosi/meetupsApp.git
[submodule "meetupsAppTS"]
	path = meetupsAppTS
	url = https://github.com/ikhlosi/meetupsAppTS.git
[submodule "ReduxApp"]
	path = ReduxApp
	url = https://github.com/ikhlosi/ReduxApp.git
[submodule "firebase_GB"]
	path = firebase_GB
	url = https://github.com/ikhlosi/firebase_GB.git
[submodule "Firebase_Auth_GB"]
	path = Firebase_Auth_GB
	url = https://github.com/ikhlosi/Firebase_Auth_GB.git
[submodule "meetupsAppFirebase"]
	path = meetupsAppFirebase
	url = https://github.com/ikhlosi/meetupsAppFirebase.git
